body{font-family:Lato,sans-serif;line-height:1.5;font-size:17px;font-weight:400;color:#606060;text-rendering:optimizeLegibility}
h1,h2,h3,h4,h5,h6{margin-top:0;line-height:1.1;font-weight:400}
h1,h2,h3{text-transform:uppercase}
h4>a{display:none}
blockquote,dd,dt,li,p,td{line-height:1.5}
a,a:active,a:visited{color:#009887}
hr{border-top:0}
.bb-btn{margin-top:1em;padding:.5em;background:0 0;border:1px solid #009887;color:#009887;border-radius:0!important;box-shadow:none;text-shadow:none;font-size:90%}
.bb-btn:hover{border:1px solid #e6e6e6}
.bb-btn-large{padding:1em}
.bb-btn-white{border-color:#fff;color:#fff}
.bb-btn-solid{background:#009887}
.bb-header{height:132px;background:#fff;border:0;border-bottom:2px solid #8cc63e;box-shadow:none}
.bb-header>.container{position:relative}
.bb-brand{float:left;font-size:48px;font-weight:700;line-height:132px;color:#009887;text-transform:uppercase}
.bb-brand:hover{color:#8cc63e;text-decoration:none}
.bb-brand:hover .box-text{color:#009887}
.bb-brand .box-text{color:#8cc63e}
.bb-search-container{float:right;padding-top:42px}
.bb-control-group{position:relative;margin-bottom:5px;padding:4px 6px;background-color:#eee;text-align:left}
.bb-search .btn,.bb-search input{border:0;background:0 0;box-shadow:none}
.bb-search .btn{position:absolute;right:0}
table.bb-results-dropdown{border:0;width:100%;padding:4px 0 8px}
table.bb-results-dropdown td{padding:3px 3px 3px 11px}
table.bb-results-dropdown tr:last-child{display:none}
.bb-editing-tools{position:absolute;top:0;right:0;z-index:5000}
.bb-editing-tools a{color:#999}
.bb-editing-tools .pull-right{margin-left:.7em}
.bb-editing-tools .edit-toggle.icon-large{color:#009887}
.bb-editing-tools-inner{min-height:0;padding:0;border:0}
.bb-activities{display:none;padding:40px 0;border-bottom:2px solid #8cc63e}
.bb-featured-activities{background-color:#8cc63e}
.bb-featured-activities h2{color:#fff}
.bb-more-activities{margin:1em 0 0;text-align:right}
.bb-more-activities a{color:#fff}
.bb-activity{background-color:#fff}
.bb-activity h3{margin-bottom:0;padding:12px;background-color:#009887;color:#fff;font-size:13px;line-height:1.2}
.bb-activity-text{padding:12px}
.bb-activity-text h4{font-size:19px}
.bb-activity-time{font-size:14px;color:#888}
.bb-questions h2{float:left}
.bb-questions #question-orderby{float:right;top:-16px}
.bb-questions #questions{clear:both}
.bb-question{margin-top:2em}
.bb-question h2{margin-top:1.5em;font-size:19px;text-transform:none;color:#8cc63e}
.bb-question h3{font-size:100%}
.bb-question li{margin-bottom:.5em}
.bb-questions{padding:40px 0 60px}
.bb-question .bb-question-meta{margin-top:2em;padding:.5em 0;border-top:2px solid #eee}
.bb-question-preview{position:relative;margin-bottom:.5em;padding:.5em 0;border-top:1px solid #eee}
.bb-question-preview h3{margin-bottom:0;font-size:19px;text-transform:none}
.bb-question-meta{font-size:80%;color:#888}
.bb-topic-label{display:inline-block;margin-right:4px;text-transform:uppercase}
.bb-question-topics{margin-top:0;margin-bottom:3px}
.bb-question-topic{display:inline-block;margin:0 1px}
.bb-question-topic:after{content:'\25AA';padding-left:2px}
.bb-question-topic:last-child:after{content:''}
.bb-question-views,.bb-question-votes{display:inline-block;margin-right:1em}
.bb-question-vote{margin-right:.5em}
.bb-sidebar h3{margin-top:1em;line-height:1.1;font-size:17px}
.bb-topics a{margin-right:8px}
.bb-active-topic{background-color:#ccc}
.bb-mini-faq{margin-bottom:20px;padding-bottom:10px;font-size:15px}
.bb-footer{clear:both;padding:40px 0 0;background-color:#009887;color:#fff}
.bb-footer h2,.bb-footer h3{color:#004C43}
.bb-subfooter{margin-top:30px;padding:4px 0;background-color:#009887;font-size:90%}
.bb-subfooter p{margin-bottom:0}
.bb-subfooter .bb-footer a{color:#fff}
.bb-staff{margin-bottom:1.5em}
.bb-staff h4{margin-bottom:2px}
.bb-staff p{color:#8cc63e}
.chat-widget{display:none;position:fixed;right:4%;bottom:-352px;width:210px;height:400px;margin:auto;border:0;box-shadow:rgba(0,0,0,.2) 0 0 3px 1px;z-index:200}
.chat-widget-button{display:none;border:0;height:48px;width:300px;line-height:48px;padding:0 15px 0 0;font-size:16px;cursor:pointer;background-color:transparent;color:#706259;text-align:right;font-weight:800;vertical-align:middle;z-index:300}
.chat-widget-button:hover{background-color:transparent;color:#333}
.chat-widget-button.chat-widget-button:focus{color:#333}
.chat-widget-button:focus,.widget-button:active{background-color:transparent}
.chat-widget-control{display:inline-block;font-style:normal;font-size:140%;font-weight:400}
.chat-closed>.chat-widget-control{transform:rotate(45deg)}
.chat-open>.chat-widget-control{transform:rotate(0)}
#bb-chat-button{bottom:0;right:4%;position:fixed;margin:0}
@media (max-width:979px){.bb-header{height:auto;text-align:center}
.bb-brand{float:none;line-height:2}
.bb-search-container{float:none;width:100%;padding-top:0;margin-bottom:20px}}
@media (max-width:767px){body{padding:0}
.container{padding:0 20px}
.bb-activity{margin-bottom:20px}}