/*button styles*/

.spl-btn{
  margin-top: 1em;
  padding: .5em;
  background: transparent;
  border: 1px solid $dark-green;
  color: $dark-green;
  border-radius: 0 !important;
  box-shadow: none;
  text-shadow: none;
  font-size: 90%;

  &:hover{
    border: 1px solid #e6e6e6;
  }
}

.spl-btn-large{
  padding: 1em;
}

.spl-btn-white{
  border-color: $white;
  color: $white;
}

.spl-btn-solid{
  background: $dark-green;
}
