/*footer*/

.spl-footer{
	clear: both;
  padding: 40px 0 0;
  background-color: $primary-dark;
  color: $white;

	a{
		color: $white;
	}
}

.spl-footer h2, .spl-footer h3{
	color: $primary-darker;
}

.spl-subfooter{
	margin-top: 30px;
  padding: 4px 0;
  background-color: $primary-dark;
  font-size: 80%;

	p{
		margin-bottom: 0;
	}
}

.spl-staff{
	margin-bottom: 1.5em;

	h4{
		margin-bottom: 2px;
	}

	p{
		color: $primary-light;
	}
}

.spl-staff{
	list-style: none;
	margin: 0 0 1.5em 0;

	li{
		margin-bottom:2px;

		> small{
			font-size: 100%; color:#8cc63e
		}
	}
}
