/*header*/

.spl-header{
	height: 132px;
	background: $white;
	border: 0;
	border-bottom: 2px solid $primary-light;
	box-shadow: none;

	& > .container{
		position: relative;
	}

}

.spl-brand{
	float: left;
	padding-top: 32px;
	font-size: 48px;
	font-weight: 700;
	line-height: 1;
	color: $primary-dark;
	text-transform: uppercase;
	transition: color .3s ease;

	&:hover{
		color: $primary-light;
		text-decoration: none;
	}

	&:hover .box-text{
		color: $primary-dark;
	}

	> small{
		display: block;
		font-size: .8rem;
		text-align: right;
		color: $dark-gray;
	}

	.box-text{
		color: $primary-light;
	}
}

.spl-search-container{
	float: right;
	padding-top: 42px;

}

.spl-control-group{
	position: relative;
	margin-bottom: 5px;
	padding: 4px 6px;
	background-color: $light-gray;
	text-align: left;
}

.spl-search input, .spl-search .btn{
	border: 0;
	background: none;
	box-shadow: none;
}

.spl-search .btn{
	position: absolute;
	right: 0;
}

table.spl-results-dropdown{
	min-width: initial;
	border: 0;
	width: 100%;
	padding: 4px 0 8px 0;
	text-align: left;

	td{
		padding: 3px 3px 3px 11px;
	}

	tr:last-child{
		display: none;
	}
}

.spl-editing-tools{
	position: absolute;
	top: 0;
	right: 0;
	z-index: 5000;

	a{
		color: #999;
	}

	.pull-right{
		margin-left: .7em;
	}

	.edit-toggle.icon-large {
		color: $primary-dark;
	}
}

.spl-editing-tools-inner{
	min-height: 0;
	padding: 0;
	border: 0;
}
