/*questions*/

.spl-questions h2{
	float: left;
}

.spl-questions #question-orderby{
	float: right;
	top: -16px;
}

.spl-questions #questions{
	clear: both;
}

.spl-question{
	margin-top: 2em;
}

.spl-question h2{
	margin-top: 1.5em;
	font-size: 19px;
	text-transform: none;
	color: $primary-light;

}

.spl-question h3{
	font-size: 100%;
}

.spl-question li{
	margin-bottom: .5em;
}

  .spl-questions{
	padding: 40px 0 60px 0;
}

.spl-question .spl-question-meta{
	margin-top: 2em;
	padding: .5em 0;
	border-top: 2px solid $light-gray;
}

.spl-question-preview{
	position: relative;
	margin-bottom: .5em;
	padding: .5em 0;
	border-top: 1px solid $light-gray;

}

.spl-question-preview h3{
	margin-bottom: 0;
	font-size: 19px;
	text-transform: none;
}

.spl-question-meta{
	font-size: 80%;
	color: $dark-gray;
}

.spl-topic-label{
	display: inline-block;
	margin-right: 4px;
	text-transform: uppercase;
}

.spl-question-topics{
	margin-top: 0;
	margin-bottom: 3px;
}

.spl-question-topic{
	display: inline-block;
	margin: 0 1px;
}

.spl-question-topic:after{
	content:'\25AA';
	padding-left: 2px;
}

.spl-question-topic:last-child:after{
	content:'';
}

.spl-question-views, .spl-question-votes{
	display: inline-block;
	margin-right: 1em;
}

.spl-question-vote{
	margin-right: .5em;
}
