/*questions*/

.bb-questions h2{
	float: left;
}

.bb-questions #question-orderby{
	float: right;
	top: -16px;
}

.bb-questions #questions{
	clear: both;
}

.bb-question{
	margin-top: 2em;
}

.bb-question h2{
	margin-top: 1.5em;
	font-size: 19px;
	text-transform: none;
	color: $light-green;

}

.bb-question h3{
	font-size: 100%;
}

.bb-question li{
	margin-bottom: .5em;
}

  .bb-questions{
	padding: 40px 0 60px 0;
}

.bb-question .bb-question-meta{
	margin-top: 2em;
	padding: .5em 0;
	border-top: 2px solid $light-gray;
}

.bb-question-preview{
	position: relative;
	margin-bottom: .5em;
	padding: .5em 0;
	border-top: 1px solid $light-gray;

}

.bb-question-preview h3{
	margin-bottom: 0;
	font-size: 19px;
	text-transform: none;
}

.bb-question-meta{
	font-size: 80%;
	color: $dark-gray;
}

.bb-topic-label{
	display: inline-block;
	margin-right: 4px;
	text-transform: uppercase;
}

.bb-question-topics{
	margin-top: 0;
	margin-bottom: 3px;
}

.bb-question-topic{
	display: inline-block;
	margin: 0 1px;
}

.bb-question-topic:after{
	content:'\25AA';
	padding-left: 2px;
}

.bb-question-topic:last-child:after{
	content:'';
}

.bb-question-views, .bb-question-votes{
	display: inline-block;
	margin-right: 1em;
}

.bb-question-vote{
	margin-right: .5em;
}
