/*base settings*/

/*colors*/
$white: #fff;
$black: #606060;
$dark-green: #009887;
$darker-green: #004C43;
$light-green: #8cc63e;
$gray: #ccc;
$light-gray: #eee;
$dark-gray: #888;


/*fonts*/
$base-font-family: 'Lato', sans-serif;
$base-font-size: 17px;
$base-font-weight: 400;
$base-line-height: 1.5;
$heading-line-height: 1.1;

/*break points*/
$break-small: 767px;
$break-medium: 979px;
