/*base settings*/

/*fonts*/
$base-font-family: 'Lato', sans-serif;
$base-font-size: 17px;
$base-font-weight: 400;
$base-line-height: 1.5;
$heading-line-height: 1.1;

/*break points*/
$break-small: 767px;
$break-medium: 979px;

/*base colors*/
$white: #fff;
$black: #606060;
$gray: #ccc;
$light-gray: #eee;
$dark-gray: #888;
